@charset "UTF-8";
/*vizframe header */
/* line 2, ../stylesheets/detailchart.sass */
.sapMTB-Solid-CTX.sapMTB {
  background: #FFFFFF; }

/* line 5, ../stylesheets/detailchart.sass */
.ui5-viz-controls-viz-frame {
  width: 100% !important; }

/* line 8, ../stylesheets/detailchart.sass */
.sapCaUiOverlay > .sapSuiteUiCommonsChartContainer > .sapSuiteUiCommonsChartContainerWrapper > .sapSuiteUiCommonsChartContainerChartArea > .sapVizFrame {
  height: 90vh !important; }

/*vizchart popover */
/* line 12, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-dimension-marker {
  display: none; }

/* line 15, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .sapMSLITitleOnly {
  font-size: inherit;
  color: inherit;
  white-space: normal; }

/* line 20, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .sapMLIBContent.sapMLIBContentMargin {
  line-height: normal !important; }

/* line 23, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .viz-controls-chartPopover-measures-item {
  height: auto !important;
  margin-bottom: 0.5rem; }

/*charts IE fix */
/* line 28, ../stylesheets/detailchart.sass */
.viz-controls-chart-layer > div > div {
  left: 0px !important;
  top: 0px !important; }

/*increase vizChart popover width */
/* line 33, ../stylesheets/detailchart.sass */
.sapMPopover.viz-controls-chartPopover, .sapMPopover.viz-controls-chartPopover .sapMPopoverCont {
  width: 20rem !important; }

/* ╨╜╨░ ╨▓╨╡╤Б╤М ╤Н╨║╤А╨░╨╜ - ╨╖╨░╨┤╨╜╨╕╨╣ ╤Д╨╛╨╜ ╨▒╨╡╨╗╤Л╨╣ */
/* line 37, ../stylesheets/detailchart.sass */
.sapSuiteUiCommonsChartContainer {
  background-color: white; }

/*ind column width */
/* line 41, ../stylesheets/detailchart.sass */
.rightChartScrollContainer th:first-child, .rightChartScrollContainer th:first-child > div {
  width: 3rem !important; }

/* line 44, ../stylesheets/detailchart.sass */
#__xmlview1--rightChartView--indList-listUl > li {
  height: auto; }
