@charset "UTF-8";
/*vizframe header */
/* line 2, ../stylesheets/detailchart.sass */
.sapMTB-Solid-CTX.sapMTB {
  background: #FFFFFF; }

/* line 5, ../stylesheets/detailchart.sass */
.ui5-viz-controls-viz-frame {
  width: 100% !important; }

/* line 8, ../stylesheets/detailchart.sass */
.sapCaUiOverlay > .sapSuiteUiCommonsChartContainer > .sapSuiteUiCommonsChartContainerWrapper > .sapSuiteUiCommonsChartContainerChartArea > .sapVizFrame {
  height: 90vh !important; }

/*vizchart popover */
/* line 12, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-dimension-marker {
  display: none; }

/* line 15, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .sapMSLITitleOnly {
  font-size: inherit;
  color: inherit;
  white-space: normal; }

/* line 20, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .sapMLIBContent.sapMLIBContentMargin {
  line-height: normal !important; }

/* line 23, ../stylesheets/detailchart.sass */
.viz-controls-chartPopover-measures-list .viz-controls-chartPopover-measures-item {
  height: auto !important;
  margin-bottom: 0.5rem; }

/*charts IE fix */
/* line 28, ../stylesheets/detailchart.sass */
.viz-controls-chart-layer > div > div {
  left: 0px !important;
  top: 0px !important; }

/*increase vizChart popover width */
/* line 33, ../stylesheets/detailchart.sass */
.sapMPopover.viz-controls-chartPopover, .sapMPopover.viz-controls-chartPopover .sapMPopoverCont {
  width: 20rem !important; }

/* ╨╜╨░ ╨▓╨╡╤Б╤М ╤Н╨║╤А╨░╨╜ - ╨╖╨░╨┤╨╜╨╕╨╣ ╤Д╨╛╨╜ ╨▒╨╡╨╗╤Л╨╣ */
/* line 37, ../stylesheets/detailchart.sass */
.sapSuiteUiCommonsChartContainer {
  background-color: white; }

/*ind column width */
/* line 41, ../stylesheets/detailchart.sass */
.rightChartScrollContainer th:first-child, .rightChartScrollContainer th:first-child > div {
  width: 3rem !important; }

/* line 44, ../stylesheets/detailchart.sass */
#__xmlview1--rightChartView--indList-listUl > li {
  height: auto; }

/* table */
/*╨Ш╤В╨╛╨│╨╛╨▓╨╛╨╡ ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡ */
/* line 4, ../stylesheets/detailtable.sass */
.totalToolbar {
  background-color: RGB(255, 211, 8) !important;
  border-top-color: RGB(255, 211, 8);
  height: 3rem !important;
  opacity: 0.8;
  filter: alpha(Opacity=80); }
  /* line 10, ../stylesheets/detailtable.sass */
  .totalToolbar > label {
    font-size: 1rem !important;
    color: black !important; }

/*╨а╨░╨╖╨╝╨╡╤А ╨╕╨║╨╛╨╜╨║╨╕ */
/* line 15, ../stylesheets/detailtable.sass */
.rightTableIcon {
  margin-left: 0.5rem; }

/* line 18, ../stylesheets/detailtable.sass */
.sapSuiteUiCommonsChartContainerOverlay {
  top: 0 !important;
  overflow-y: auto;
  background-color: white !important; }
  /* line 22, ../stylesheets/detailtable.sass */
  .sapSuiteUiCommonsChartContainerOverlay .sapMList {
    display: inline-block;
    width: initial !important; }
  /* line 25, ../stylesheets/detailtable.sass */
  .sapSuiteUiCommonsChartContainerOverlay .rightChartScrollContainer {
    overflow: visible !important; }
  /* line 27, ../stylesheets/detailtable.sass */
  .sapSuiteUiCommonsChartContainerOverlay .sapSuiteUiCommonsChartContainerChartArea {
    padding-top: 3rem; }
  /* line 29, ../stylesheets/detailtable.sass */
  .sapSuiteUiCommonsChartContainerOverlay .sapSuiteUiCommonsChartContainerToolBarArea {
    position: fixed;
    right: 1rem;
    width: 100%;
    background-color: white;
    z-index: 10000; }

/* line 4, ../stylesheets/pagedetail.sass */
.detailPageView {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  /* line 10, ../stylesheets/pagedetail.sass */
  .detailPageView .tpDetailPage .tpDetailPage__horizontalLayout {
    flex-grow: 1;
    display: flex !important;
    overflow: hidden;
    border: 1px solid #ccc; }
    /* line 15, ../stylesheets/pagedetail.sass */
    .detailPageView .tpDetailPage .tpDetailPage__horizontalLayout > .sapUiHLayoutChildWrapper {
      flex-grow: 0.5;
      width: 50% !important;
      display: flex;
      overflow-x: hidden; }
      /* line 20, ../stylesheets/pagedetail.sass */
      .detailPageView .tpDetailPage .tpDetailPage__horizontalLayout > .sapUiHLayoutChildWrapper > .sapUiView {
        display: flex;
        overflow: hidden; }
        /* line 23, ../stylesheets/pagedetail.sass */
        .detailPageView .tpDetailPage .tpDetailPage__horizontalLayout > .sapUiHLayoutChildWrapper > .sapUiView > .sapSuiteUiCommonsChartContainer {
          height: initial !important;
          /* width: initial !important */ }
  /* line 26, ../stylesheets/pagedetail.sass */
  .detailPageView .sapSuiteUiCommonsChartContainer {
    display: flex;
    flex-grow: 1; }
    /* line 29, ../stylesheets/pagedetail.sass */
    .detailPageView .sapSuiteUiCommonsChartContainer .sapSuiteUiCommonsChartContainerWrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto; }
      /* line 34, ../stylesheets/pagedetail.sass */
      .detailPageView .sapSuiteUiCommonsChartContainer .sapSuiteUiCommonsChartContainerWrapper .sapSuiteUiCommonsChartContainerToolBarArea {
        flex-shrink: 0; }
      /* line 36, ../stylesheets/pagedetail.sass */
      .detailPageView .sapSuiteUiCommonsChartContainer .sapSuiteUiCommonsChartContainerWrapper .sapSuiteUiCommonsChartContainerChartArea {
        flex-grow: 1;
        overflow: auto; }
        /* line 39, ../stylesheets/pagedetail.sass */
        .detailPageView .sapSuiteUiCommonsChartContainer .sapSuiteUiCommonsChartContainerWrapper .sapSuiteUiCommonsChartContainerChartArea .rightChartScrollContainer {
          overflow: visible !important;
          display: flex; }
