/*main page lists separator */
/* line 3, ../stylesheets/pagemain.sass */
.tpMainPage__horizontalLayout > div:first-child {
  border-right: 2px solid white; }
/* line 5, ../stylesheets/pagemain.sass */
.tpMainPage__horizontalLayout > div:last-child {
  border-left: 2px solid white; }

/*empty list item height equal to list item with data */
/* line 9, ../stylesheets/pagemain.sass */
.mainPageView .sapMListNoData {
  height: 4rem; }

/* separators 4 table header (excelp last 2 elements) */
/* line 13, ../stylesheets/pagemain.sass */
table tr.sapMListTblRow.sapMListTblHeader > th:nth-last-child(n+2):not(:nth-last-child(-n+2)) {
  border-right: 1px solid #808080; }

/* line 17, ../stylesheets/pagemain.sass */
.mainpage__choosedindlist .sapMLabelTBHeader {
  font-size: inherit; }

/* line 23, ../stylesheets/pagemain.sass */
.gIndsScrollContainer .sapMSLIDescription, .mainpage__choosedlist .sapMSLIDescription {
  width: 6rem; }
/* line 39, ../stylesheets/screen.sass */
.tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__indlist, .tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__choosedlist {
  display: flex;
  flex-direction: column;
}
/* line 42, ../stylesheets/screen.sass */
.tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__indlist > :first-child, .tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__choosedlist > :first-child {
  flex-shrink: 0;
}
/* line 44, ../stylesheets/screen.sass */
.tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__indlist > :nth-child(2), .tpRootPage section .tpRootPage__pagesNavContainer .mainPageView .sapMPage section .tpMainPage__horizontalLayout .sapUiHLayoutChildWrapper .mainpage__choosedlist > :nth-child(2) {
  overflow-y: auto;
}


/* line 17, ../stylesheets/pagemain.sass */
.mainpage__choosedindlist .sapMLabelTBHeader {
  font-size: inherit; }

/* line 23, ../stylesheets/pagemain.sass */
.gIndsScrollContainer .sapMSLIDescription, .mainpage__choosedlist .sapMSLIDescription {
  width: 6rem; }